body {
    background-color: #ecf0f1;
}
/*Typography*/
p, h1, h2, h3, li {
    font-family: 'Roboto Condensed', sans-serif;
    line-height: normal;
}
h1 {
    font-size: 26px;
}
h2 {
    font-size: 22px;
    font-weight: bold;
}
h3 {
    font-size: 18px;
}


.wrapper {
    padding-bottom: 4em;
}
.banner {
    height: 76vh;
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*Navigation elements, links.*/
#home-nav {
    text-align: center;
    height: 10vh;
}
#home-nav li {
    display: inline-block;
    /*padding-bottom: .5em;*/
    width: 20%;
    text-align: center;
    padding: 1em 0;
}
a {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 22px;
    text-decoration: none;
    padding: .5em;
}

/*hover effects*/
.hvr-shutter-in-horizontal:before {
    background-color: #eee;
}


/*Ma face*/
.face {
    background-image: url('me1.jpg');
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.im-a-lawyer {
    padding: 1em;
}

.send-me-mail {
    color: #ecf0f1;
    margin-top: 2em;
    text-align: center;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000;
    padding: 1.5em;
    height: 4vh;

}
.send-me-mail a {
    padding: 0;
    font-size: 12px;
}


.pages-content {
    width: 50%;
    margin: 0 auto;
    padding: 1em;
    text-align: left;
}
.page-button {
    margin-top: 2em;
}
.project-link {
    font-size: 14px;
    padding: 0;
}
.pad-top {
    padding-top: 1.5em;
}

@media screen and (max-width: 768px) {
    .wrapper {
        margin-top: 0;
    }
}
