body {
    background-color: #ecf0f1;
}
/*Typography*/
p, a {
    font-family: 'Arial', sans-serif;
    line-height: normal;
}
p {
    line-height: 1.4;
}
li {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}
h1, h2, h3 {
    font-family: 'Lora', serif;
}
h1 {
    color: #000;
    font-size: 80px;
    margin-bottom: 12px;
}
h2 {
    font-size: 22px;
    font-weight: bold;
}
h3 {
    font-size: 18px;
}


.wrapper {
    padding-bottom: 4em;
}
.banner {
    height: 76vh;
    text-align: center;
    background-image: url("cloud-face.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-inner {
    background-color: rgba(255, 255, 255, 0.4);
    padding-top: 20px;
    padding-bottom: 20px;
}
.banner h3 {
    color: #000;
    font-size: 32px;
}

/*vertical align middle*/
.middle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/*Navigation elements, links.*/
#home-nav {
    text-align: center;
    /*height: 10vh;*/
}
#home-nav li {
    display: inline-block;
    width: 20%;
    text-align: center;
    padding: 1em 0;
}
a {
    font-size: 20px;
    text-decoration: none;
    padding: .5em;
}

/*hover effects*/
.hvr-shutter-in-horizontal:before {
    background-color: #eee;
}



.send-me-mail {
    color: #ecf0f1;
    margin-top: 2em;
    text-align: center;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000;
    padding: 1.5em;
    height: 4vh;

}
.send-me-mail a {
    padding: 0;
    font-size: 12px;
}


.pages-content {
    width: 50%;
    margin: 1em auto 0 auto;
    padding: 1em;
    text-align: left;
}
.pages-content h2 {
    margin-bottom: 1em;
}

.pages-content p {
    margin-bottom: 1.5em;
}
.page-button {
    margin-top: 1em;
}
.project-link {
    font-size: 14px;
    padding: 0;
}
.pad-top {
    padding-top: 1.5em;
}



@media screen and (max-width: 768px) {
    h1 {
        font-size: 60px;
    }
    .wrapper {
        margin-top: 0;
    }
    .pages-content {
        width: 75%;
    }
    .banner {
        height: 40vh;
    }
    #home-nav {
        height: 50vh;
    }
    #home-nav li {
        width: 100%;
    }
    #home-nav li a {
        width: 50%;
    }
    .samples a {
        padding-left: 0;
        padding-right: 0;
    }
    .samples .home-link a {
        padding-left: .5em;
        padding-right: .5em;
    }
}
